<!--<div>
    <div class="row columns">
        <button (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
        <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>

        <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="What is it that you do?" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
        <div id="details-container">
            <p *ngFor="let item of items | async">{{item.message}}</p>
        </div>
    </div>
</div> -->
<div>
    <div style="border: solid black 2px" *ngFor="let event of eventService.events | async">
        <p>{{event.eventName}}</p>
        <p>{{event.eventDescr}}</p>
        <button style="background-color:aqua; border:solid black 1px;" (click)="delete(event.$key)">delete</button>
    </div>
</div>